<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Generatore di domande</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="add()">
                Domanda++
            </button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-success" (click)="save()">
                Salva
            </button>
        </div>
        <div class=" col-1">
            <button type="button" class="btn btn-primary" (click)="import()">
                Importa
            </button>
        </div>
        <div class="col-3">
            <input type="file" (change)="loadQFile($event)" />
            Importa Domande
        </div>
        <div class="col-3">
            <input type="file" (change)="loadAFile($event)" />
            Importa Risposte
        </div>
        <div class=" col-1">
            <button type="button" class="btn btn-primary" (click)="navigateTo('/entry');">
                Indietro
            </button>
        </div>
    </div>
    <div class="row" *ngFor="let q of questions; let qIndex = index">
        <div class="col-4">
            <div class="row">
                <select [ngModel]="q.type" (ngModelChange)="onAnswerTypeChange($event, qIndex)">
                    <option [ngValue]="'multi'">Risposta Multipla</option>
                    <option [ngValue]="'open'">Aperta</option>
                </select>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" [disabled]="qIndex === 0"
                        (click)="move(qIndex, 'up')">Su</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" [disabled]="qIndex === questions.length - 1"
                        (click)="move(qIndex, 'down')">Giù</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-danger" (click)="delete(qIndex)">
                        Del
                    </button>
                </div>
                <div class="col-4" *ngIf="q.type === 'multi'">
                    <button type="button" class="btn btn-primary" (click)="addSelectableAnswer(qIndex)">
                        Risposta++
                    </button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <textarea style="width: 100%;" [(ngModel)]="q.question"></textarea>
                </div>
            </div>
            <ng-container *ngIf="q.type === 'multi'">
                <div *ngFor="let aId of q.answersId; let aIndex = index" class="row">
                    <div class="col-1">
                        <button type="button" class="btn btn-danger" (click)="deleteSelectableAnswer(qIndex, aIndex)">
                            Del
                        </button>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" [ngModel]="isChecked(qIndex, aId)"
                            (ngModelChange)="onCorrectAnswerChange(qIndex, aIndex, $event)" />
                    </div>
                    <div class="col-4">
                        <input type="text" [(ngModel)]="q.answers[aIndex]" />
                    </div>
                    <div class="col-1">
                        <input type="number" [(ngModel)]="answers[qIndex].value[aIndex]" />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>