<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Regolamento e modalità di valutazione</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=" col-1">
            <button type="button" class="btn btn-primary" (click)="navigateTo('/entry')">
                Indietro
            </button>
        </div>
    </div>
    <div class="row">
        <div class=" col-12">
            <h3>
                Introduzione
            </h3>
            Questa verifica servirà a valutare le vostre competenze maturate nel cosro di questi giorni nell'ambito
            della programmazione Java.
            <h3>
                Struttura della verifica
            </h3>
            <ul>
                <li>
                    Il docente prima di cominciare spiegherà come utilizzare lo strumento per la prova.
                </li>
                <li>
                    Quando tutti avranno chiaro come utilizzare lo strumento, il docente permetterà di inziare la
                    prova.
                </li>
                <li>
                    Ogni studente ha un limite massimo di 2 ore per completare la prova. Sforare dal tempo limite si
                    può, ma può comportare delle penalità al punteggio in fase di correzione.
                </li>
                <li>
                    Per concludere la prova, lo studente deve cliccare sul pulsante Salva. Verrà generato un file
                    json con dentro le risposte date dallo studente. Lo studente deve quindi consegnare il file generato
                    al docente.
                </li>
                <li>
                    Dopo aver generato il file da consegnare, non chiudere l'applicativo! È possibile generare
                    un nuovo file da consegnare al docente. Verrà sempre considerato l'ultimo file consegnato al fine
                    della valutazione.
                </li>
                <li>
                    È consigliato generare un file ogni 10 domande circa: qualora l'applicazione crashi purtroppo non è
                    possibile recuperare le risposte precedentemente date. In caso di crash, lo studente segnali il
                    problema al professore e gli indichi quale/i file utilizzare ai fini della correzione.
                </li>
                <li>
                    Conclusa la prova per tutti, il docente darà a tutti un compito di esercitazione da svolgere in
                    classe. Durante questo compito, gli studenti verranno chiamati uno a uno per la correzione della
                    verifica.
                </li>
                <li>
                    Terminata la correzione, il docente genererà un file particolare che sarà la correzione della
                    verifica dello studente. Una copia la tiene il docente, l'altra lo studente.
                </li>
                <li>
                    In caso di assenze o recuperi vedremo come metterci d'accordo.
                </li>
            </ul>
            <h3>
                Instruzione all'uso dell'applicativo
            </h3>
            <ul>
                <li>
                    Per avviare la prova cliccare sul pulsante Inizia. Attendere il segnale del docente prima di
                    cliccare il relativo pulsante.
                </li>
                <li>
                    È possibile spostarsi a proprio piacimento tra le domande. Gli appositi pulsanti nello spazio
                    laterale a destra permettono di selezionare la domanda da rispondere. Si può rispondere alle
                    domande nell'ordine che meglio si preferisce.
                </li>
                <li>
                    Nelle domande a risposta multipla è possibile cliccare su più risposte. Tenete conto che potete
                    sempre selezionare più di una risposta, anche se quella giusta fosse una sola.
                </li>
                <li>
                    Le risposte delle domande a risposta aperta verranno valutate assieme al docende durante la
                    correzione.
                </li>
                <li>
                    Una volta che lo studente ritiene di aver terminato la prova, deve cliccare sul pulsante Salva.
                    Verrà generato un file che lo studente dovrà poi consegnare al docente.
                </li>
                <li>
                    Lo studente può accedere in qualsiasi momento alla correzione della verifica tramite l'applicativo.
                </li>
            </ul>
            <h3>
                Regole di comportamento
            </h3>
            <ul>
                <!--li>
                    Prima della verifica gli studenti devono appoggiare sulla cattedra del docente i propri
                    cellulari e qualsiasi strumento in loro possesso con connessione a internet. Questi strumenti
                    devono essere bloccati, spenti o in silenzioso. Il docente si impegna personalmente a
                    disabilitare la connessione a internet delle varie macchine durante il corso della verifica.
                </!--li-->
                <li>
                    Durante la verifica, gli studenti sono tenuti a mantenere il silenzio per non disturbare i
                    propri compagni nel suddetto periodo.
                </li>
                <li>
                    È possibile ascoltare, se lo si desidera, della musica.
                </li>
                <li>
                    Gli studenti sono tenuti a ridurre al minimo possibile le iterazioni col professore durante il
                    compito. Per prendere la parola, alzare la mano e aspettare che venga data dal docente.
                </li>
                <!--li>
                    Gli studenti possono abbandonare l'aula non più di uno alla volta e con motivazione valida. Il
                    tempo passato fuori dall'aula non verrà contato ai fini della valutazione finale.
                </!--li-->
                <!--li>
                    Venire beccati a barare (copiare, aiutare un compagno, altro) comporta l'invalidazione della
                    verifica con voto pari a 0. Se uno studente ha problemi di natura tecnica deve chiedere al docente.
                </!--li-->
            </ul>
            <h3>
                Modalità di Valutazione
            </h3>
            <ul>
                <li>
                    Il tempo limite della verifica è di 2 ore (120 minuti). Sforare il tempo limite può comportare
                    delle penalità al punteggio.
                </li>
                <li style="list-style-type:none;">
                    <h4>Domande a risposta multipla</h4>
                </li>
                <li style="list-style-type:none;">
                    <ul>
                        <li>
                            Ogni risposta ha un punteggio positivo, pari a 0 o negativo. Selezionare una risposta
                            aggiunge algebricamente il punteggio della risposta al punteggio totale.
                        </li>
                        <li>
                            Lo studente può aggiungere una motivazione (opzionale) alla/e risposta/e data/e. Questa
                            motivazione può solo incrementare il punteggio.
                        </li>
                        <li>
                            Nel caso la motivazione sia esplicitamente richiesta dalla domanda lo studente deve
                            aggiungerla alla/e risposta/e data/e. In caso di mancata motivazione o di motivazione
                            errata, il punteggio delle risposte esatte date può essere decrementato fino allo 0.
                        </li>
                    </ul>
                </li>
                <li style="list-style-type:none;">
                    <h4>Domande a risposta aperta</h4>
                </li>
                <li style="list-style-type:none;">
                    <ul>
                        <li>
                            Lo studente deve dare la risposta che ritiene più opportuna, possibilmente scritta in un
                            lunguaggio comprensibile. Può eventualmente, durante la correzione, aggiungere ulteriori
                            particolari e/o fare le correzioni che ritiene più opportune.
                        </li>
                        <li>
                            Una risposta esatta e completa dona un punteggio pari fino a X, dove X è il punteggio della
                            risposta stabilito prima dell'inizio della verifica. Una risposta vuota o sbagliata comporta
                            un punteggio pari a 0.
                        </li>
                        <li>
                            Uno studente che corregge e/o aggiunge valore ad una risposta di una domanda aperta può
                            incrementare il punteggio della propria risposta fino a X/2 punti arrotondato per
                            eccesso.
                        </li>
                    </ul>
                </li>
                <li>
                    Per le domande a risposta aperta e per le domande a risposta multipla con motivazione obbligatoria,
                    il docente è tenuto a scrivere cosa stia cercando dalla risposta scritta dello studente. Questa nota
                    verrà visualizzata assieme allo studente durante la correzione.
                </li>
                <li style="list-style-type:none;">
                    <ul>
                        <li>
                            In caso di nota assente, uno studente che ha scritto una risposta ha diritto di chiedere il
                            voto che vuole per quella domanda.
                        </li>
                    </ul>
                </li>
                <li>
                    Il docente, qualora lo ritenga opportuno, può permettere allo studente di aggiustare il proprio voto
                    facendogli ulteriori domande. In questo caso il punteggio può solo incrementare, dipendentemente
                    dalla risposta dello studente.
                </li>
                <li>
                    Il voto finale sarà espresso in 30esimi. Il voto non può scendere sotto lo 0. La sufficienza è un 18
                    pieno. Uno studente può effettivamente ottenere più punti del limite prestabilito: in caso succeda,
                    il voto sarà 30 con Lode.
                </li>
            </ul>
        </div>
    </div>
</div>
