<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Verifica del giorno {{ TODAY | date: 'dd/MM/yyyy'}}</h1>
    </div>
</div>
<h2>Azioni disponibili</h2>
<div class="container">
    <div class="row">
        <ul>
            <li>
                <button type="button" class="btn btn-success" [disabled]="!standardServicePub.questions"
                    (click)="onClickToNavigate('start')">
                    Inizia
                </button>
            </li>
            <li>
                <input type="file" (change)="loadQFile($event)" />
                Importa Domande
            </li>
            <!-- <li>
                <button type="button" class="btn btn-light" (click)="onClickToNavigate('read')">
                    Regolamento e modalità di valutazione
                </button>
            </li> -->
            <li>
                <button type="button" class="btn btn-primary" (click)="onClickToNavigate('results')">
                    Visualizza correzione
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-warning" (click)="onClickToNavigate('admin')">
                    Genera domande e risposte (inserisci password)
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-warning" (click)="onClickToNavigate('check')">
                    Voto finale (inserisci password)
                </button>
            </li>
            <li>
                Password: <input type="password" [(ngModel)]="password" />
            </li>
            <li>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" [(ngModel)]="darkTheme" />
                    </span>
                    <label class="form-control" (click)="darkTheme = !darkTheme">Tema scuro
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>