/* You can add global styles to this file, and also import other style files */

.content-container {
	background-color: white;
}

.btn {
	width: 100%;
}

.col-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-2 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-3 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-4 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-5 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-6 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-7 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-8 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-9 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-11 {
	padding-left: 10px;
	padding-right: 10px;
}

.col-12 {
	padding-left: 10px;
	padding-right: 10px;
}

input[type=number] {
	width: 80px;
}

textarea {
	width: 100%;
	resize: vertical;
}

.scroll-y {
	overflow-y: auto;
	overflow-x: hidden;
}
