<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Verifica del giorno {{ TODAY | date: 'dd/MM/yyyy'}}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=" col-1">
            <button type="button" class="btn btn-primary" (click)="navigateTo('/entry')">
                Indietro
            </button>
        </div>
        <div class="col-3">
            <input type="file" (change)="loadQFile($event)" />
            Importa Domande
        </div>
        <div class="col-3">
            <input type="file" (change)="loadAFile($event)" />
            Importa Risposte
        </div>
        <div class="col-3">
            <input type="file" (change)="loadSAFile($event)" />
            Risposte Studente
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" (click)="readFilesAndConfront()">
                Calcola
            </button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-success" (click)="confirmMark()">
                Conferma
            </button>
        </div>
    </div>
    <ng-container *ngIf="questions && questions.length">
        <div class="row">
            <div class="col-3">
                <h3>Bonus: <input type="number" [(ngModel)]="adjustment" /></h3>
            </div>
            <div class="col-3">
                <h3>Punteggio: {{points}} {{getStringifiedBonus()}}</h3>
            </div>
            <div class="col-3">
                <h3>Massimo: {{total}}</h3>
            </div>
            <div class="col-3">
                <h3>Voto: {{mark}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h6>Verifica iniziata: {{getStringifiedHoursTime(studentAnswersObj.startTime)}}</h6>
            </div>
            <div class="col-3">
                <h6>Verifica terminata: {{getStringifiedHoursTime(studentAnswersObj.endTime)}}</h6>
            </div>
            <div class="col-3">
                <h6>
                    Tempo impiegato:
                    {{getStringifiedHoursTime(studentAnswersObj.endTime - studentAnswersObj.startTime, true)}}
                </h6>
            </div>
            <div class="col-3">
                <h6>Tempo massimo: {{questionsObj.expectedTime}} minuti</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea [(ngModel)]="teacherExtraNotes"></textarea>
            </div>
        </div>
        <div class="row" *ngFor="let q of questions; let qIndex = index">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h5> {{qIndex + 1}}) {{q.question}} </h5>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="q.type === 'multi'" class="col-5">
                        <div class="row">
                            <div class="col-6" *ngFor="let a of q.answers; let aIndex = index">
                                <div class="alert" role="alert" [ngClass]="getAlertClass(qIndex, aIndex)">
                                    <span class="glyphicon" aria-hidden="true"
                                        [ngClass]="getGlyphiconClass(qIndex, aIndex)"></span>
                                    <span class="sr-only">Error:</span>
                                    <h6> {{answers[qIndex].values[aIndex]}} | {{a}} </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="q.type === 'multi' ? 'col-5' : 'col-10'">
                        <p> <b>Note dell'Insegnante:</b> {{answers[qIndex].teacherNotes}} </p>
                        <p>
                            <b>{{q.type === 'multi' ? 'Note' : 'Risposta'}} dello Studente:</b>
                            {{getStudentAnswerByQuestionId(q.id).notes}}
                        </p>
                    </div>
                    <div class="col-2">
                        <input type="number" [(ngModel)]="answerPoints[qIndex]" />
                        {{q.type === 'open' ? ('/ ' + answers[qIndex].values[0]) : '' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <h6>Correzioni</h6>
                    </div>
                    <div class="col-11">
                        <textarea [(ngModel)]="correctionNotes[qIndex]"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </ng-container>
</div>